In [1]:
import pandas as pd
import numpy as np
import csv
import re
from ast import literal_eval
import time

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [3]:
FILE_PATH_CAT = 'F:/wikipedia-data/outputs/categories.csv'
FILE_PATH_ART = 'F:/wikipedia-data/outputs/articles_without_links.csv'

In [4]:
# id = page name
# type = Category
# depth = null

In [5]:
%%time
cat_origData = pd.read_csv(FILE_PATH_CAT)

Wall time: 3.48 s

### Category data to edge dataframe input

In [6]:
# src = from partentCategory column
# dst = from title columns
# intersection = null
# union = null
# similarity = null

In [7]:
'''%%time
# Approach 1
# 10000 rows in 213 seconds --> 4M rows in ~23h

start_time = time.time()
cat_edge = pd.DataFrame(columns=["src", "dst", "intersection", "union", "similarity"])

for row in cat_origData.index:
    if (row % 10000) == 0:
        print(str(row) + " : " + str(time.time() - start_time))
    
    dst = str(cat_origData.loc[row, "title"])[9:]
    
    #read parentCategories string as python list, iterate over each item
    for item in literal_eval(cat_origData.loc[row, "parentCategories"]):
        #add new row to cat_edge
        newRow = {"src": str(item) , "dst" : dst}
        cat_edge  = cat_edge.append(newRow, ignore_index = True)'''

'%%time\n# Approach 1\n# 10000 rows in 213 seconds --> 4M rows in ~23h\n\nstart_time = time.time()\ncat_edge = pd.DataFrame(columns=["src", "dst", "intersection", "union", "similarity"])\n\nfor row in cat_origData.index:\n    if (row % 10000) == 0:\n        print(str(row) + " : " + str(time.time() - start_time))\n    \n    dst = str(cat_origData.loc[row, "title"])[9:]\n    \n    #read parentCategories string as python list, iterate over each item\n    for item in literal_eval(cat_origData.loc[row, "parentCategories"]):\n        #add new row to cat_edge\n        newRow = {"src": str(item) , "dst" : dst}\n        cat_edge  = cat_edge.append(newRow, ignore_index = True)'

In [8]:
'''%%time
# Approach 2
# 800 000 rows in ~8 hours...

start_time = time.time()
cat_edge = pd.DataFrame(columns=["src", "dst"])

for row in cat_origData.index:
    if (row % 100000) == 0:
        print(str(row) + " : " + str(time.time() - start_time))
    
    toAdd = pd.DataFrame(columns=["src", "dst"])
    toAdd["src"] = literal_eval(cat_origData.loc[row, "parentCategories"])
    toAdd["dst"] = str(cat_origData.loc[row, "title"])[9:]
    
    cat_edge  = cat_edge.append(toAdd, ignore_index = True)
    '''

'%%time\n# Approach 2\n# 800 000 rows in ~8 hours...\n\nstart_time = time.time()\ncat_edge = pd.DataFrame(columns=["src", "dst"])\n\nfor row in cat_origData.index:\n    if (row % 100000) == 0:\n        print(str(row) + " : " + str(time.time() - start_time))\n    \n    toAdd = pd.DataFrame(columns=["src", "dst"])\n    toAdd["src"] = literal_eval(cat_origData.loc[row, "parentCategories"])\n    toAdd["dst"] = str(cat_origData.loc[row, "title"])[9:]\n    \n    cat_edge  = cat_edge.append(toAdd, ignore_index = True)\n    '

In [9]:
%%time
# Approach 3

Wall time: 0 ns

In [10]:
'''%%time
# Approach 3
# 10000 rows in 50 seconds

start_time = time.time()
cat_edge = pd.DataFrame(columns=["src", "dst"])

for row in cat_origData.index:
    if (row % 10000) == 0:
        print(str(row) + " : " + str(time.time() - start_time))
    
    toAdd = pd.DataFrame(columns=["src"])
    toAdd["src"] = literal_eval(cat_origData.loc[row, "parentCategories"])
    # toAdd["dst"] = str(cat_origData.loc[row, "title"])[9:]
    
    cat_edge  = cat_edge.append(toAdd, ignore_index = True)
    '''

'%%time\n# Approach 3\n# 10000 rows in 50 seconds\n\nstart_time = time.time()\ncat_edge = pd.DataFrame(columns=["src", "dst"])\n\nfor row in cat_origData.index:\n    if (row % 10000) == 0:\n        print(str(row) + " : " + str(time.time() - start_time))\n    \n    toAdd = pd.DataFrame(columns=["src"])\n    toAdd["src"] = literal_eval(cat_origData.loc[row, "parentCategories"])\n    # toAdd["dst"] = str(cat_origData.loc[row, "title"])[9:]\n    \n    cat_edge  = cat_edge.append(toAdd, ignore_index = True)\n    '

In [11]:
cat_origData

,id,title,parentCategories
0,690070,Category:Futurama,"['Television series by 20th Century Fox Television', 'Television series created by Matt Groening', 'Wikipedia categories named after American animated television series', 'Wikipedia categories named after mass media franchises', '20th Century Fox Television franchises', 'Transhumanism in television series', 'Animated television series about extraterrestrial life', 'Animated television series about robots', 'Comedy franchises', 'Science fiction franchises', 'Television series by Fox Television Animation', 'Fox Broadcasting Company original programming', 'Comedy Central original programming', 'American adult animated drama television series', 'American adult animated comic science fiction television series', 'Television shows set in New York City', '1990s American adult animated television series', '2000s American adult animated television series', '2010s American adult animated television series', '1990s American comic science fiction television series', '2000s American comic scienc..."
1,690451,Category:World War II,"['Wikipedia categories named after wars', '20th-century conflicts', '1930s conflicts', '1940s conflicts', 'Conflicts in 1939', 'Conflicts in 1940', 'Conflicts in 1941', 'Conflicts in 1942', 'Conflicts in 1943', 'Conflicts in 1944', 'Conflicts in 1945', 'Global conflicts', 'World Wars| ']"
2,690571,Category:Programming languages,"['Computer languages', 'Computer programming', 'Programming language topics', 'Programming language theory']"
3,690578,Category:Professional wrestling,"['Mock combat', 'Sports entertainment', 'Theatrical combat']"
4,690637,Category:Algebra,['Fields of mathematics']
...,...,...,...
1951052,64148944,Category:Australian expatriates in Estonia,"['Australian expatriates|Estonia', 'Expatriates in Estonia', 'Australia–Estonia relations|-']"
1951053,64148963,Category:Buildings and structures in Bhola District,"['Bhola District', 'Buildings and structures in Barisal Division']"
1951054,64148965,Category:Education in Bhola District,"['Bhola District', 'Education in Bangladesh by district']"
1951055,64149140,Category:Colleges in the territories of Canada,[]
1951056,64149156,Category:Stuff,"['Mass media in Wellington', 'New Zealand news websites', 'Real estate in New Zealand', 'Companies based in Wellington', 'Newspaper companies of New Zealand', 'Nine Entertainment Co.']"

In [12]:
%%time
cat_origData['title'] = cat_origData['title'].apply(lambda x: str(x)[9:])

Wall time: 730 ms

In [13]:
%%time
cat_origData['parentCategories'] = cat_origData['parentCategories'].apply(lambda x: literal_eval(x))

Wall time: 19.7 s

In [14]:
cat_origData

,id,title,parentCategories
0,690070,Futurama,"[Television series by 20th Century Fox Television, Television series created by Matt Groening, Wikipedia categories named after American animated television series, Wikipedia categories named after mass media franchises, 20th Century Fox Television franchises, Transhumanism in television series, Animated television series about extraterrestrial life, Animated television series about robots, Comedy franchises, Science fiction franchises, Television series by Fox Television Animation, Fox Broadcasting Company original programming, Comedy Central original programming, American adult animated drama television series, American adult animated comic science fiction television series, Television shows set in New York City, 1990s American adult animated television series, 2000s American adult animated television series, 2010s American adult animated television series, 1990s American comic science fiction television series, 2000s American comic science fiction television series, 2010s Americ..."
1,690451,World War II,"[Wikipedia categories named after wars, 20th-century conflicts, 1930s conflicts, 1940s conflicts, Conflicts in 1939, Conflicts in 1940, Conflicts in 1941, Conflicts in 1942, Conflicts in 1943, Conflicts in 1944, Conflicts in 1945, Global conflicts, World Wars| ]"
2,690571,Programming languages,"[Computer languages, Computer programming, Programming language topics, Programming language theory]"
3,690578,Professional wrestling,"[Mock combat, Sports entertainment, Theatrical combat]"
4,690637,Algebra,[Fields of mathematics]
...,...,...,...
1951052,64148944,Australian expatriates in Estonia,"[Australian expatriates|Estonia, Expatriates in Estonia, Australia–Estonia relations|-]"
1951053,64148963,Buildings and structures in Bhola District,"[Bhola District, Buildings and structures in Barisal Division]"
1951054,64148965,Education in Bhola District,"[Bhola District, Education in Bangladesh by district]"
1951055,64149140,Colleges in the territories of Canada,[]
1951056,64149156,Stuff,"[Mass media in Wellington, New Zealand news websites, Real estate in New Zealand, Companies based in Wellington, Newspaper companies of New Zealand, Nine Entertainment Co.]"

In [15]:
type(cat_origData.iloc[0, -1])

list

In [16]:
#cat_origData.drop(columns=['id'], inplace = True)

In [17]:
cat_origData

,id,title,parentCategories
0,690070,Futurama,"[Television series by 20th Century Fox Television, Television series created by Matt Groening, Wikipedia categories named after American animated television series, Wikipedia categories named after mass media franchises, 20th Century Fox Television franchises, Transhumanism in television series, Animated television series about extraterrestrial life, Animated television series about robots, Comedy franchises, Science fiction franchises, Television series by Fox Television Animation, Fox Broadcasting Company original programming, Comedy Central original programming, American adult animated drama television series, American adult animated comic science fiction television series, Television shows set in New York City, 1990s American adult animated television series, 2000s American adult animated television series, 2010s American adult animated television series, 1990s American comic science fiction television series, 2000s American comic science fiction television series, 2010s Americ..."
1,690451,World War II,"[Wikipedia categories named after wars, 20th-century conflicts, 1930s conflicts, 1940s conflicts, Conflicts in 1939, Conflicts in 1940, Conflicts in 1941, Conflicts in 1942, Conflicts in 1943, Conflicts in 1944, Conflicts in 1945, Global conflicts, World Wars| ]"
2,690571,Programming languages,"[Computer languages, Computer programming, Programming language topics, Programming language theory]"
3,690578,Professional wrestling,"[Mock combat, Sports entertainment, Theatrical combat]"
4,690637,Algebra,[Fields of mathematics]
...,...,...,...
1951052,64148944,Australian expatriates in Estonia,"[Australian expatriates|Estonia, Expatriates in Estonia, Australia–Estonia relations|-]"
1951053,64148963,Buildings and structures in Bhola District,"[Bhola District, Buildings and structures in Barisal Division]"
1951054,64148965,Education in Bhola District,"[Bhola District, Education in Bangladesh by district]"
1951055,64149140,Colleges in the territories of Canada,[]
1951056,64149156,Stuff,"[Mass media in Wellington, New Zealand news websites, Real estate in New Zealand, Companies based in Wellington, Newspaper companies of New Zealand, Nine Entertainment Co.]"

In [18]:
%%time
exploded = cat_origData.explode("parentCategories")

Wall time: 3 s

In [19]:
exploded

,id,title,parentCategories
0,690070,Futurama,Television series by 20th Century Fox Television
0,690070,Futurama,Television series created by Matt Groening
0,690070,Futurama,Wikipedia categories named after American animated television series
0,690070,Futurama,Wikipedia categories named after mass media franchises
0,690070,Futurama,20th Century Fox Television franchises
...,...,...,...
1951056,64149156,Stuff,New Zealand news websites
1951056,64149156,Stuff,Real estate in New Zealand
1951056,64149156,Stuff,Companies based in Wellington
1951056,64149156,Stuff,Newspaper companies of New Zealand
1951056,64149156,Stuff,Nine Entertainment Co.

In [ ]:
%%time
exploded['parentCategories'] = exploded['parentCategories'].apply(lambda x: str(x))

In [ ]:
%%time
# Remove category specification used in wikipedia child categories (pipe char and following text)
exploded['parentCategories'] = exploded['parentCategories'].apply(lambda x: re.sub("(\|)(.+)", '', x))
exploded['parentCategories'] = exploded['parentCategories'].apply(lambda x: re.sub("(\|)", '', x))

In [ ]:
art_origData = pd.read_csv(FILE_PATH_ART)

In [ ]:
art_origData.drop(columns=['id'], inplace = True)

In [ ]:
%%time
art_origData['parentCategories'] = art_origData['parentCategories'].apply(lambda x: literal_eval(x))

In [ ]:
%%time
art_origData['title'] = art_origData['title'].apply(lambda x: str(x))

In [ ]:
art_origData

In [ ]:
%%time
exploded_art = art_origData.explode("parentCategories")

In [ ]:
%%time
exploded_art['parentCategories'] = exploded_art['parentCategories'].apply(lambda x: str(x))

In [ ]:
%%time
# Remove category specification used in wikipedia child categories (pipe char and following text)
exploded_art['parentCategories'] = exploded_art['parentCategories'].apply(lambda x: re.sub("(\|)(.+)", '', x))
exploded_art['parentCategories'] = exploded_art['parentCategories'].apply(lambda x: re.sub("(\|)", '', x))

In [ ]:
exploded_art.head(500)