In [1]:
# Explode appropriate parts of category data
# Implement categorization rules
# Test accuracy against existing categorization

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import time
import glob
import re

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [4]:
Run = "../workproduct-files/batchRuns/"

In [5]:
RunMeta = pd.read_csv("../workproduct-files/batchRuns.csv", delimiter=";")

In [6]:
t_data = pd.read_pickle("../workproduct-files/t_dataMaster-keywordsIdentified.pkl")

In [7]:
RunMeta

,startIndex,stopIndex,startTime,endTime,runTime
0,-1,-1,NaN,NaN,NaN
1,0,9,2020-10-03 15:57:52,2020-10-03 16:02:54,302.0
2,10,19,2020-10-03 16:02:54,2020-10-03 16:04:33,99.0
3,20,29,2020-10-03 16:04:33,2020-10-03 16:10:09,336.0
4,30,39,2020-10-03 16:10:09,2020-10-03 16:12:35,146.0
...,...,...,...,...,...
12770,64515,64519,2020-10-26 00:37:08,2020-10-26 00:38:54,106.0
12771,64520,64524,2020-10-26 00:38:54,2020-10-26 00:39:06,12.0
12772,64525,64529,2020-10-26 00:39:06,2020-10-26 00:39:54,48.0
12773,64530,64534,2020-10-26 00:39:54,2020-10-26 00:42:05,131.0
12774,64535,64538,2020-10-26 00:42:05,2020-10-26 00:42:32,27.0

In [8]:
Run_time = RunMeta.iloc[:,-1].sum(skipna = True)

In [9]:
#Total run time in days
Run_time/3600/24

16.51244212962963

In [10]:
#Days at average speed per row
Run_time/RunMeta.iloc[-1,1]*65000/3600/24

16.630647656046452

In [11]:
Run_files = glob.glob(Run + "*.pkl")

In [12]:
%%time
RunDF = pd.DataFrame()
for filename in Run_files:
    RunDF = RunDF.append(pd.read_pickle(filename))
RunDF = RunDF.sort_index()

Wall time: 5min 15s

In [13]:
Run_wikisearchFailed = len(RunDF[RunDF.wikipediaSearchSuccessful == False])
Run_wikisearchFailed

2711

In [14]:
def successIndex(a):
    try:
        result = a.index("SUCCESS")
    except ValueError:
        result = -1
    
    return result

In [15]:
RunDF["searchTermUsed_idx"] = RunDF["findQuestionCategories_meta"].apply(lambda x: successIndex(x))

In [16]:
%%time
for row in RunDF.index:
    if RunDF.loc[row, "searchTermUsed_idx"] != -1:
        RunDF.loc[row, "searchTermUsed"] = RunDF.loc[row, "searchTerms"][RunDF.loc[row, "searchTermUsed_idx"]]
    else:
        RunDF.loc[row, "searchTermUsed"] = None

Wall time: 2min 9s

In [17]:
RunDF

,searchTerms,wikipediaSearchSuccessful,findQuestionCategories_meta,wikipediaArticleTitle,wikipediaArticleID,categoryPath,parentCategories,searchTermUsed_idx,searchTermUsed
0,"[Now is the winter of our discontent, discontent, winter, play, line]",True,[SUCCESS],Richard_III_(play),176961,pages.title pages.id intersection union jaccard depth \ 0 English_Renaissance_plays 1034365 NaN NaN NaN 5 1 English_plays 3258485 3.0 703.0 0.004267 5 2 British_plays 1928104 10.0 759.0 0.013175 5 3 British_drama 1376798 3.0 534.0 0.005618 4 4 Drama_by_nationality 25776489 0.0 63.0 0.000000 3 5 Drama 709071 0.0 115.0 0.000000 2 6 Theatre 698600 8.0 225.0 0.035556 2 7 Performing_arts 991222 16.0 258.0 0.062016 2 8 Entertainment 693016 15.0 253.0 0.059289 1 9 Main_topic_classifications 7345184 0.0 148.0 0.000000 0 similarityBAC mostSimilar comment 0 NaN NaN ...,pages.title pages.id 0 Use_British_English_from_February_2013 38379146 1 Plays_about_English_royalty 42128233 2 Cultural_depictions_of_English_monarchs 15621221 3 Shakespearean_histories 736938 4 British_plays_adapted_into_films 51477341 5 Richard_III_of_England 33466348 6 English_Renaissance_plays 1034365 7 Use_dmy_dates_from_February_2013 38378953,0,Now is the winter of our discontent
1,"[Our Town, town, play]",True,[SUCCESS],Our_Town,62695,pages.title pages.id intersection union \ 0 Pulitzer_Prize_for_Drama-winning_works 34794170 NaN NaN 1 Theatre_award_winners 7129331 0.0 108.0 2 Theatre_awards 1975750 0.0 35.0 3 Theatre 698600 0.0 147.0 4 Performing_arts 991222 16.0 258.0 5 Entertainment 693016 15.0 253.0 6 Main_topic_classifications 7345184 0.0 148.0 jaccard depth similarityBAC mostSimilar \ 0 NaN 5 NaN NaN 1 0.000000 4 4.0 True 2 0.000000 3 3.0 True 3 0.000000 2 2.0 True 4 0.062016 2 -6.0 True 5 0.059289 1 -6.5 True 6 0.000000 0 0.0 Fals...,pages.title pages.id 0 Drama_Desk_Award-winning_plays 16736972 1 American_plays_adapted_into_films 51476012 2 Tony_Award-winning_plays 18147375 3 Plays_by_Thornton_Wilder 24334082 4 Broadway_plays 2133987 5 Pulitzer_Prize_for_Drama-winning_works 34794170 6 West_End_plays 18242373,0,Our Town
2,"[Diary of Anne Frank, frank, english, title]",True,[SUCCESS],The_Diary_of_a_Young_Girl,1.46691e+06,pages.title pages.id intersection union \ 0 Personal_accounts_of_the_Holocaust 22222763 NaN NaN 1 World_War_II_memoirs 42752119 6.0 153.0 2 Memoirs_by_topic 37246118 1.0 98.0 3 Works_by_topic 21046246 0.0 197.0 4 Creative_works 7390225 0.0 209.0 5 Arts 4892515 0.0 120.0 6 Main_topic_classifications 7345184 0.0 116.0 jaccard depth similarityBAC mostSimilar \ 0 NaN 5 NaN NaN 1 0.039216 5 2.0 True 2 0.010204 4 3.5 True 3 0.000000 3 3.0 True 4 0.000000 2 2.0 True 5 0.000000 1 1.0 True 6 0.000000 0 0.0 False ...,pages.title pages.id 0 Dutch-language_books 54556063 1 Personal_accounts_of_the_Holocaust 22222763 2 CS1_Dutch-language_sources_(nl) 43966272 3 Forgery_controversies 36807531 4 CS1_Japanese-language_sources_(ja) 43966204 5 World_War_II_memoirs 42752119 6 Public_domain_books 9394833 7 Memory_of_the_World_Register 11945693 8 Books_published_posthumously 32947582 9 Anne_Frank 3020256 10 Jewish_literature 3687043 11 Books_relating_to_Anne_Frank 31369624 12 Dutch_literature 2685573 13 Books_adapted_into_films 24068918 14 Diaries 9519958 15 Doubleday_(publisher)_books 40590218,0,Diary of Anne Frank
3,"[decoration, wall, band]",True,[SUCCESS],Decorative_arts,1.13853e+06,pages.title pages.id intersection union jaccard depth \ 0 Decorative_arts 15917611 NaN NaN NaN 3 1 Art_genres 1209735 8.0 530.0 0.015094 2 2 Arts 4892515 2.0 371.0 0.005391 1 3 Main_topic_classifications 7345184 0.0 116.0 0.000000 0 similarityBAC mostSimilar comment 0 NaN NaN NaN 1 -2.0 True Lowest similarityBAC 2 0.0 True Lowest similarityBAC 3 0.0 False,pages.title pages.id 0 Decorative_arts 15917611 1 Art_genres 1209735 2 Art_media 2118729 3 Interior_design 1000495 4 Design 999651 5 Gardening_aids 21250113 6 Architectural_elements 911763,0,decoration
4,"[composition, piece, cut, artist, material, image]",True,"[Database call timed out (90 seconds), SUCCESS]",Peace,24702,pages.title pages.id intersection union jaccard depth \ 0 Peace 1243099 NaN NaN NaN 3 1 Nonviolence 4973370 12.0 216.0 0.055556 3 2 Violence 692173 0.0 217.0 0.000000 2 3 Society 1633936 0.0 167.0 0.000000 1 4 Main_topic_classifications 7345184 0.0 62.0 0.000000 0 similarityBAC mostSimilar comment 0 NaN NaN NaN 1 -3.0 True Lowest similarityBAC 2 2.0 True Lowest similarityBAC 3 1.0 True Lowest similarityBAC 4 0.0 True Lowest similarityBAC,pages.title pages.id 0 Peace 1243099 1 Social_concepts 34119332 2 Ethical_principles 12684760 3 Use_dmy_dates_from_January_2011 30245989 4 Fruit_of_the_Holy_Spirit 51314360 5 Pacifism 805507 6 Virtue 845488 7 Nonviolence 4973370,1,piece
...,...,...,...,...,...,...,...,...,...
64534,"[toy, car, use]",True,[SUCCESS],Toy,149920,pages.title pages.id intersection union jaccard depth \ 0 Toys 778323 NaN NaN NaN 2 1 Entertainment 693016 0.0 150.0 0.0 1 2 Main_topic_classifications 7345184 0.0 148.0 0.0 0 similarityBAC mostSimilar comment 0 NaN NaN NaN 1 1.0 True Lowest similarityBAC 2 0.0 False,pages.title pages.id 0 Use_dmy_dates_from_August_2017 54703796 1 Toys 778323 2 Play_(activity) 1488107,0,toy
64535,"[Samuel Taylor Coleridge, xanadu, river]",True,[SUCCESS],Samuel_Taylor_Coleridge,29408,pages.title pages.id intersection union jaccard depth \ 0 Romantic_poets 1368391 NaN NaN NaN 5 1 Romanticism 1252840 2.0 296.0 0.006757 4 2 Literary_movements 722383 6.0 267.0 0.022472 3 3 Art_movements 844306 12.0 395.0 0.030380 2 4 Art_history 707612 9.0 463.0 0.019438 2 5 Museology 2999304 15.0 268.0 0.055970 2 6 Humanities 1004110 2.0 186.0 0.010753 1 7 Main_topic_classifications 7345184 6.0 100.0 0.060000 0 similarityBAC mostSimilar comment 0 NaN NaN NaN 1 3.0 True Lowest similarityBAC 2 0.0 True Lowest similarityBAC 3 ...,"pages.title pages.id 0 EngvarB_from_April_2014 42355838 1 People_from_Ottery_St_Mary 8356824 2 English_male_poets 47477082 3 Irvingites 2440135 4 Fellows_of_the_Royal_Society_of_Literature 11289893 5 AC_with_18_elements 42483560 6 Use_dmy_dates_from_April_2014 42355791 7 Samuel_Taylor_Coleridge 49714652 8 Nontrinitarian_Christians 40061098 9 People_educated_at_Christ\'s_Hospital 35583509 10 English_Anglicans 5723374 11 English_literary_critics 1057653 12 Romantic_poets 1368391 13 English_Anglican_theologians 48391666 14 Alumni_of_Jesus_College,_Cambridge 2512165 15 English_theologians 1097004 16 ...",0,Samuel Taylor Coleridge
64536,"[Diamonds Are Forever, James Bond, bond, diamond, play]",True,[SUCCESS],Diamonds_Are_Forever_(novel),6.79962e+06,pages.title pages.id intersection union jaccard \ 0 James_Bond_books 1075194 NaN NaN NaN 1 Novel_series_by_main_character 21674959 0.0 148.0 0.000000 2 Literary_characters 32780228 0.0 223.0 0.000000 3 Literature 692008 0.0 262.0 0.000000 4 Narratology 866705 6.0 310.0 0.019355 5 Entertainment 693016 2.0 316.0 0.006329 6 Main_topic_classifications 7345184 0.0 148.0 0.000000 depth similarityBAC mostSimilar \ 0 5 NaN NaN 1 4 4.0 True 2 3 3.0 True 3 2 2.0 True 4 2 -1.0 True 5 1 0.0 True 6 0 0.0 False ...,pages.title pages.id 0 Featured_articles 8966941 1 Use_dmy_dates_from_September_2012 36878946 2 Pages_to_import_images_to_Wikidata 53594500 3 Jonathan_Cape_books 37547202 4 British_novels_adapted_into_films 28375863 5 James_Bond_books 1075194 6 Use_British_English_from_September_2012 36878980 7 Novels_by_Ian_Fleming 13692319,0,Diamonds Are Forever
64537,"[Slim Shady, shady]",True,[SUCCESS],Eminem,4.4294e+06,pages.title pages.id intersection union jaccard depth \ 0 Grammy_Award_winners 36931540 NaN NaN NaN 5 1 Music_award_winners 7599624 0.0 2776.0 0.00000 4 2 Musicians 692446 0.0 119.0 0.00000 3 3 Entertainers 696777 1.0 113.0 0.00885 2 4 Entertainment 693016 0.0 180.0 0.00000 1 5 Main_topic_classifications 7345184 0.0 148.0 0.00000 0 similarityBAC mostSimilar \ 0 NaN NaN 1 4.0 True 2 3.0 True 3 1.5 True 4 1.0 True 5 0.0 False comment 0 NaN 1 ...,"pages.title pages.id 0 Hardcore_hip_hop_artists 47044721 1 Best_Original_Song_Academy_Award-winning_songwriters 6006148 2 Aftermath_Entertainment_artists 6788356 3 Web_Entertainment_artists 54529610 4 Rappers_from_Detroit 22232421 5 People_from_Warren,_Michigan 8269681 6 Living_people 3782398 7 American_hip_hop_record_producers 14370043 8 Brit_Award_winners 33004260 9 Grammy_Award_winners 36931540 10 Use_American_English_from_December_2013 41227512 11 Eminem 3235996 12 American_music_industry_executives 1606932 13 American_autobiographers ...",0,Slim Shady
64538,"[Monty Python, Holy Grail, Patsy, Monty Python and the Holy Grail, sidekick, python, movie]",True,[SUCCESS],Monty_Python,18942,pages.title pages.id intersection union jaccard depth \ 0 Monty_Python 691158 NaN NaN NaN 5 1 Sketch_comedy_troupes 30575172 0.0 83.0 0.000000 4 2 Comedy_troupes 1248078 1.0 63.0 0.015873 3 3 Entertainers 696777 0.0 80.0 0.000000 2 4 Entertainment 693016 0.0 180.0 0.000000 1 5 Main_topic_classifications 7345184 0.0 148.0 0.000000 0 similarityBAC mostSimilar comment 0 NaN NaN NaN 1 4.0 True Lowest similarityBAC 2 2.5 True Lowest similarityBAC 3 2.0 True Lowest similarityBAC 4 1.0 True Lowest similarityBAC 5 0.0 False,pages.title pages.id 0 CS1_maint:_Unfit_url 50880300 1 Use_dmy_dates_from_July_2017 54425598 2 British_television_comedy 696819 3 CS1_German-language_sources_(de) 43966150 4 Pages_using_web_citations_with_no_URL 38871068 5 Virgin_Records_artists 10135086 6 Monty_Python 691158 7 Arista_Records_artists 6593698 8 European_Film_Awards_winners_(people) 29226877 9 Charisma_Records_artists 28064600 10 British_comedy_troupes 24038543 11 Empire_Inspiration_Award_winners 43846543 12 Pages_using_Timeline 57791074 13 EngvarB_from_June_2017 54185614 14 Pages_with_URL_errors 39076493 15 Surreal_comedy 40452421,0,Monty Python

In [18]:
#Combine dataframes leaving out searchTerms from RunDF (duplicate in result)
t_dataRun = pd.concat([t_data, RunDF.iloc[:,1:]], axis = 1, join = "inner")

In [19]:
# Suboptimal solution, only for preanalyses. If excludes iloc operation on rows with value None
t_dataRun["WikipediaHighestCat"] = t_dataRun["categoryPath"].apply(lambda x: x.iloc[-2, 0] if (type(x) is not type(None)) else None)

In [20]:
t_dataRun["categoryPathList"] = t_dataRun["categoryPath"].apply(lambda x: list(reversed(x.iloc[:,0])) if (type(x) is not type(None)) else [])

In [21]:
t_dataRun["categoryPathList"]

0        [Main_topic_classifications, Entertainment, Performing_arts, Theatre, Drama, Drama_by_nationality, British_drama, British_plays, English_plays, English_Renaissance_plays]
1                              [Main_topic_classifications, Entertainment, Performing_arts, Theatre, Theatre_awards, Theatre_award_winners, Pulitzer_Prize_for_Drama-winning_works]
2                                    [Main_topic_classifications, Arts, Creative_works, Works_by_topic, Memoirs_by_topic, World_War_II_memoirs, Personal_accounts_of_the_Holocaust]
3                                                                                                                   [Main_topic_classifications, Arts, Art_genres, Decorative_arts]
4                                                                                                               [Main_topic_classifications, Society, Violence, Nonviolence, Peace]
                                                                                            ...
64534                                                                                                                             [Main_topic_classifications, Entertainment, Toys]
64535                                              [Main_topic_classifications, Humanities, Museology, Art_history, Art_movements, Literary_movements, Romanticism, Romantic_poets]
64536                                   [Main_topic_classifications, Entertainment, Narratology, Literature, Literary_characters, Novel_series_by_main_character, James_Bond_books]
64537                                                               [Main_topic_classifications, Entertainment, Entertainers, Musicians, Music_award_winners, Grammy_Award_winners]
64538                                                                [Main_topic_classifications, Entertainment, Entertainers, Comedy_troupes, Sketch_comedy_troupes, Monty_Python]
Name: categoryPathList, Length: 64539, dtype: object

In [22]:
# For each category level in max level count
# Add column with level data
for lvl in range(max(t_dataRun["categoryPathList"].apply(lambda x: len(x)))):
    t_dataRun["WikiCat_" + str(lvl)] = t_dataRun["categoryPathList"].apply(lambda x: x[lvl] if len(x) > lvl else None)

In [23]:
t_dataRun.columns

Index(['CONS_id', 'CONS_question', 'CONS_answer', 'CONS_alt answers',
       'CONS_category', 'CONS_alt categories - NOT USED',
       'CONS_type-formulation', 'CONS_type-multipleChoice', 'ORIG_id',
       'ORIG_question', 'ORIG_answer', 'ORIG_alt answers', 'ORIG_category',
       'ORIG_alt categories', 'ORIG_difficulty', 'ORIG_type', 'Source',
       'Duplicate_removed', 'namedEntities', 'nouns', 'objects', 'subjects',
       'nounsObjectsSubjects', 'searchTerms', 'wikipediaSearchSuccessful',
       'findQuestionCategories_meta', 'wikipediaArticleTitle',
       'wikipediaArticleID', 'categoryPath', 'parentCategories',
       'searchTermUsed_idx', 'searchTermUsed', 'WikipediaHighestCat',
       'categoryPathList', 'WikiCat_0', 'WikiCat_1', 'WikiCat_2', 'WikiCat_3',
       'WikiCat_4', 'WikiCat_5', 'WikiCat_6', 'WikiCat_7', 'WikiCat_8',
       'WikiCat_9', 'WikiCat_10', 'WikiCat_11', 'WikiCat_12', 'WikiCat_13',
       'WikiCat_14', 'WikiCat_15', 'WikiCat_16'],
      dtype='object')

# CATEGORIZATION RULES

## Wikipedia path final category

In [24]:
# Wikipedia category level 1 mapping
# See spreadsheet https://docs.google.com/spreadsheets/d/1c4g4MujTgaqTn5wG5I-ARY06g7rlnHst0whojsFbps8/edit?usp=sharing
MAPPING_wiki_to_trivia = {'History':'History and society' ,'Reference':'None' ,'Law':'History and society' ,'Religion':'History and society' ,'Education':'History and society' ,'Philosophy':'Science and nature' ,'Politics':'History and society' ,'Science_and_technology':'Science and nature' ,'Sports':'Sports and leisure' ,'Language':'Art and literature' ,'Nature':'Science and nature' ,'Geography':'Geography and places' ,'Arts':'Art and literature' ,'Society':'History and society' ,'Culture':'History and society' ,'Health':'Science and nature' ,'Mathematics':'Science and nature' ,'Universe':'Science and nature' ,'Events':'History and society' ,'Humanities':'Art and literature' ,'Life':'Science and nature' ,'Entertainment':'Entertainment' }

In [25]:
t_dataRun["WikiPath_Category"] = t_dataRun["WikiCat_1"].replace(MAPPING_wiki_to_trivia)

## Wikipedia path exceptions

In [26]:
# https://docs.google.com/spreadsheets/d/1c4g4MujTgaqTn5wG5I-ARY06g7rlnHst0whojsFbps8/edit#gid=2055637170
# Mapping list
exceptionCategories = [('3', 'Literature', 'Art and literature'),('2', 'Food_and_drink', 'Sports and leisure'),('5', 'Plants', 'Science and nature'),('3', 'Ethnobiology', 'Science and nature'),('2', 'Artificial_objects', 'Science and nature'),('4', 'Diseases_and_disorders', 'Science and nature'),('2', 'Performing_arts', 'Art and literature'),('2', 'Gaming', 'Entertainment'),('4', 'Anthropology_of_religion', 'History and society'),('3', 'Leisure', 'Sports and leisure'),('4', 'Physical_geography', 'Geography and places')]

In [27]:
# Take dataframe row as input
# If several exceptions apply, algorithm returns the one listed last in exceptionCategories
def findExceptionWikiCatRows(a):
    
    result = ""
    
    for exep in exceptionCategories:
        if a["WikiCat_" + str(exep[0])] == exep[1]:
            result = exep[2]
    
    return result

In [28]:
row = t_dataRun.iloc[4277]
findExceptionWikiCatRows(row)

'Sports and leisure'

In [29]:
%%time
t_dataRun["WikiPath_Exceptions"] = t_dataRun.apply(lambda x: findExceptionWikiCatRows(x), axis = 1)

Wall time: 8.2 s

In [30]:
%%time
# If exception exists, use that, else use WikiPath_Category
t_dataRun["WikiPath_withExceptions"] = t_dataRun.apply(lambda x: x["WikiPath_Exceptions"] if x["WikiPath_Exceptions"] != "" else x["WikiPath_Category"], axis = 1)

Wall time: 1.7 s

In [31]:
# t_dataRun.drop("WikiPath_Exceptions", axis = 1, inplace = True)

In [32]:
#crosstab_percentCols = pd.crosstab(t_dataRun.WikiPath_Category, t_dataRun.WikiPath_withExceptions, margins=True, normalize = "columns").round(3)*100
crosstab_percentCols = pd.crosstab(t_dataRun.WikiPath_Category, t_dataRun.WikiPath_withExceptions)
crosstab_percentCols.style.background_gradient(cmap='Blues', axis = 0)

In [33]:
t_dataRun["WikiPath_Exceptions"].groupby(t_dataRun["WikiPath_Exceptions"]).count()

WikiPath_Exceptions
                        57090
Art and literature       1214
Entertainment             375
Geography and places     1296
History and society         6
Science and nature       1899
Sports and leisure       2659
Name: WikiPath_Exceptions, dtype: int64

## Key word exceptions

In [34]:
# Except specific search term / key word

### Category is History if Q / A contains number within range

In [35]:
# 1970 as upper bound seems better. Many questions regarding 1970's are better categorized elsewhere.
historyLowerBound = 1000
historyUpperBound = 1970

In [36]:
# Takes list of numbers as input
def withinHistoryRange(a):
    for x in a:
        try:
            if int(x) > historyLowerBound and int(x) < historyUpperBound:
                return True
        except:
            return "ERROR - Input was probably not a number."
    return False

In [37]:
%%time
t_dataRun["hasHistoryNumber"] = (t_dataRun["CONS_question"] + t_dataRun["CONS_answer"]).apply(lambda x: withinHistoryRange(re.findall(r'\d+', x)))

Wall time: 174 ms

### Search term exceptions

In [38]:
# Search term mapping: https://docs.google.com/spreadsheets/d/1c4g4MujTgaqTn5wG5I-ARY06g7rlnHst0whojsFbps8/edit#gid=2055637170

In [39]:
termMappingList = {'capital':'Geography and places' ,'state':'Geography and places' ,'sport':'Sports and leisure' }

In [40]:
# Take search term list as input
# If several exceptions apply, algorithm returns the one corresponding to search term listed first
def findExceptionSearchTerms(a):
           
    for term in a:
        if term in termMappingList:
            return (termMappingList[term], term)
    
    return None

In [41]:
%%time
t_dataRun["searchTermCatExceptions"] = t_dataRun["searchTerms"].apply(lambda x: findExceptionSearchTerms(x))

Wall time: 38.9 ms

In [110]:
t_dataRun["WikiPath_withExceptions"].unique()

array(['Art and literature', 'History and society', 'Science and nature',
       'Entertainment', 'Geography and places', 'Sports and leisure',
       None, 'None'], dtype=object)

### Beta data export

In [ ]:
# Change sports category name
# Select n random rows of each category
    # df.sample(frac=1).groupby('category').head(3)

In [133]:
%%time
# Select n random rows of each category
out = t_dataRun.loc[:,["WikiPath_withExceptions", "CONS_question", "CONS_answer"]]
out = out.loc[out["WikiPath_withExceptions"] != "None"]
out = out.loc[out["WikiPath_withExceptions"].notnull()] 
out = out.sample(frac=1).groupby('WikiPath_withExceptions').head(200)

Wall time: 28.9 ms

In [134]:
print(out["WikiPath_withExceptions"].unique())
print(len(out))

['Science and nature' 'Geography and places' 'Entertainment'
 'History and society' 'Art and literature' 'Sports and leisure']
1200

In [135]:
# Change sports category name
out = out.replace({"WikiPath_withExceptions": {"Sports and leisure": "Sports and hobbies"} })

In [136]:
print(out["WikiPath_withExceptions"].unique())

['Science and nature' 'Geography and places' 'Entertainment'
 'History and society' 'Art and literature' 'Sports and hobbies']

In [138]:
out.to_csv ("../workproduct-files/beta-data-export.csv", index = False, header=True)