In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [3]:
t_data = pd.read_pickle("../workproduct-files/t_dataMaster-keywordsIdentified.pkl")
master_data = pd.read_pickle("../final-files/tdMasterData_2020-12-16.pkl")

In [13]:
rows = t_data.loc[t_data["Source"]=="rtg"].index.tolist()

In [29]:
out = master_data.iloc[rows]

In [30]:
out = out.loc[out["primarySet"] == True]

In [31]:
out = out.loc[:, ['CONS_question', 'CONS_answer', 'Master_category']]

In [38]:
out.groupby('Master_category').count()

                         CONS_question  CONS_answer
Master_category
Art and literature                2812         2812
Entertainment and games           5328         5328
Geography and places              2333         2333
History and society               2918         2918
Science and nature                2840         2840
Sports and hobbies                 846          846

In [39]:
sample = out.sample(frac=1).groupby('Master_category').head(500)

In [40]:
sample

,CONS_question,CONS_answer,Master_category
59906,"Who starred opposite Jack Nicholson in the film ""As Good as It Gets""?",Helen Hunt,Entertainment and games
63816,What type of two-sailed vessel is particularly adept at sailing upwind?,Sloop,Entertainment and games
61954,How many oxygen atoms does a molecule of ozone have?,3,Science and nature
48760,Who first broke the gender barrier in NASCAR racing in 1949?,Sara Christian,Sports and hobbies
61175,What eye complaint is blamed for the reddish tone of some of Monet's paintings?,Cataracts,Art and literature
...,...,...,...
52098,What is a spinnaker on a boat?,Type of sail,Sports and hobbies
50401,"The alcoholic beverage ""Poteen"" originates from which country?",Ireland,Sports and hobbies
59671,At which university was the beverage Gatorade developed?,University of Florida,Sports and hobbies
50283,Which country does paella come from?,Spain,Sports and hobbies
50933,What makes popping corn pop?,The water stored inside the kernel,Sports and hobbies

In [42]:
sample.to_csv ("../workproduct-files/beta-data-export_v3.csv", index = False, header=True)