In [1]:
import pandas as pd
import time

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [3]:
%%time
t_data = pd.read_pickle("../workproduct-files/t_dataMaster-keywordsIdentified.pkl")
master_data = pd.read_pickle("../final-files/tdMasterData_2020-12-16.pkl")

Wall time: 1min 3s

In [4]:
rows = t_data.loc[t_data["Source"]=="rtg"].index.tolist()

In [5]:
out = master_data.iloc[rows]

In [6]:
out = out.loc[out["primarySet"] == True]

In [7]:
out = out.loc[:, ['CONS_question', 'CONS_answer', 'Master_category']]

In [8]:
out.groupby('Master_category').count()

                         CONS_question  CONS_answer
Master_category
Art and literature                2812         2812
Entertainment and games           5328         5328
Geography and places              2333         2333
History and society               2918         2918
Science and nature                2840         2840
Sports and hobbies                 846          846

In [9]:
sample = out.sample(frac=1).groupby('Master_category').head(150)

In [10]:
sample

,CONS_question,CONS_answer,Master_category
56228,"Who sang the 1995 song ""Boom Boom Boom""?",The Outhere Brothers,Entertainment and games
62103,What is February's birthstone?,Amethyst,Science and nature
47603,"Who plays the role of Sarah Jordan in the 2005 movie ""The Island""?",Scarlett Johansson,Entertainment and games
53227,What royal subject married Timothy Laurence?,Princess Anne,History and society
50608,"What river is the setting for the novel ""The Adventures of Huckleberry Finn""?",Mississippi River,Art and literature
...,...,...,...
58900,What dialect term describes rough cider made from unselected apples?,Scrumpy,Sports and hobbies
58978,In what year did Babe Ruth reach 500 career home runs?,1929,Sports and hobbies
47748,What kind of animal is Chuck E. Cheese?,A mouse,Sports and hobbies
51855,Whose 502-foot Fenway Park homer is marked by a single red seat in the right field bleachers?,Ted Williams',Sports and hobbies
59044,What are the two fruit juices in a cosmopolitan?,Cranberry and lime,Sports and hobbies

In [11]:
# Change column names
sample.rename(columns={'CONS_question': 'question', 'CONS_answer': 'answer', 'Master_category': 'category'}, inplace=True)

In [13]:
# Remove potential formatting errors
sample["question"] = sample["question"].apply(lambda x: x.replace("Ã¢â‚¬â„¢", "'"))

In [14]:
# Save as JSON
sample.to_json("../workproduct-files/td-static-data-export_v1.json", orient="records")