In [1]:
# Next:
# Clean non-wanted nodes from graph (container categories etc.)
#    Try: https://neo4j.com/docs/graph-algorithms/current/projected-graph-model/cypher-projection/
# Write custom similarity calculation function
# Write iterator function

In [2]:
# NOTE
# cypher.forbid_exhaustive_shortestpath=true set in neo4j conf file
# https://neo4j.com/docs/operations-manual/current/configuration/neo4j-conf/

In [3]:
from py2neo import *
import pandas as pd

In [4]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [5]:
graph = Graph()

## FUNCTIONS

##### Return similarity statistics for two sets (intersection, union, Jaccard coefficient)

In [6]:
# compute similarity statistics
def similarityStats(a,b):
    intSize = len(a.intersection(b))
    unionSize = len(a.union(b))
    return (intSize, unionSize, intSize / unionSize)

##### Return identifying information of parent categories of chosen article or category as pandas dataframe

In [7]:
# Give wikipedia id as integer as function argument (e.g. cateogry "Finland" = 693995)
def parentCategories(a):
    wikiID = a
    commandToRun = 'MATCH (pages:Category:Page) \
                <-[:BELONGS_TO]- \
                (:Page {id: %s}) \
                RETURN pages.title, pages.id' % (wikiID)

    return graph.run(commandToRun).to_data_frame()

##### Return identifying information of children (both category and article) of chosen category as pandas dataframe

In [8]:
# Give wikipedia id as integer as function argument (e.g. cateogry "Finland" = 693995)
def childPages(a):
    wikiID = a
    commandToRun = 'MATCH (pages:Page) \
                -[:BELONGS_TO]-> \
                (:Page {id: %s}) \
                RETURN pages.title, pages.id' % (wikiID)

    return graph.run(commandToRun).to_data_frame()

##### Return dataframe with all articles (but not categories) with given title [only one result is expected]

In [9]:
# Give wikipedia title as string as function argument
def articleByTitle(a):
    ArticleToFind = a
    commandToRun = 'MATCH (articles:Page {title: "%s"}) \
                    WHERE NONE(art IN [articles] WHERE art:Category) \
                    RETURN articles.title, articles.id, ID(articles)' % (ArticleToFind)
    return graph.run(commandToRun).to_data_frame()

##### Return dataframe with all categories (but not articles) with given title [only one result is expected]

In [10]:
# Give wikipedia title as string as function argument
def categoryByTitle(a):
    CategoryToFind = a
    commandToRun = 'MATCH (categories:Category:Page {title: "%s"}) \
                    RETURN categories.title, categories.id, ID(categories)' % (CategoryToFind)
    return graph.run(commandToRun).to_data_frame()

##### Return dataframe containing all parent categories of category a and similarity statistics to each

In [11]:
# Give wikipedia id as integer as function argument (e.g. cateogry "Finland" = 693995)
def parentSimilarities(a):
    parents = parentCategories(a)
    children = childPages(a)
    parents["similarities"] = parents["pages.id"].apply(lambda x: similarityStats(set(children["pages.id"]), set(childPages(x)["pages.id"])))
    parents[["intersection", "union", "jaccard"]] = pd.DataFrame(parents['similarities'].tolist(), index = parents.index)
    parents.drop(["similarities"], axis = 1, inplace = True)
    parents.sort_values(by = "jaccard", ascending = False, inplace = True)
    
    return parents

##### Return dataframe containing shortest path between input node (article or category) and Main_topics_classification category

In [12]:
def shortestPathToMTC(a):
    # (:Page {id: 7345184}) is Main_topics_classifications category node
    inputNode = a

    commandToRun = 'MATCH path=shortestPath( \
                    (:Page {id: %s})-[:BELONGS_TO*0..10]-(:Page {id: 7345184})) \
                    UNWIND nodes(path) AS pages \
                    RETURN pages.title, pages.id, ID(pages)' % (inputNode)

    return pd.DataFrame(graph.run(commandToRun).data())

##### Return node based on neo4j database ID [NOTE: not same as wikipedia ID used elsewhere]

In [13]:
def getWithNeoID(a):
    return NodeMatcher(graph).get(a)

## Step A
##### Article - Category relationship strength (TBD)

## Step B
##### Calculate similarity between two categories (Note: not an article and a category)

In [11]:
%%time
# function to calculate similarity between Category and all parent categories
# Run-time for Category "Finland" on first run = 2.51 s
chosenCategory = "History"

chosenCatID = categoryByTitle(chosenCategory).iloc[0,1]
parentSimilarities(chosenCatID)

Wall time: 2.51 s

                  pages.title  pages.id  intersection  union   jaccard
2                  Humanities   1004110             2    128  0.015625
0                        Past  40822338             1     65  0.015385
1  Main_topic_classifications   7345184             1     68  0.014706
3                      Change  51137756             0     76  0.000000
4             Social_sciences    695042             0    125  0.000000

In [ ]:
# Next: write iteration bottom-up
# Write breadth first traversal top-down

In [73]:
%%time
# (:Page {id: 7345184}) is Main_topics_classifications category node

inputNode = 1017420

commandToRun = 'MATCH path=shortestPath( \
                (:Page {id: %s})-[:BELONGS_TO*0..10]-(:Page {id: 7345184})) \
                UNWIND nodes(path) AS pages \
                RETURN pages.title, pages.id, ID(pages)' % (inputNode)

'''cursor = graph.run(commandToRun)
while cursor.forward():
    print(cursor.current)'''

shortestPath = pd.DataFrame(graph.run(commandToRun).data())
shortestPath

Wall time: 73.3 ms

                                              pages.title  pages.id  ID(pages)
0                                   Presidents_of_Finland   1017420    5548753
1  Wikipedia_categories_named_after_Presidents_of_Finland  54302930    7278282
2                                    Container_categories  30176254    6523822
3                              Main_topic_classifications   7345184    5614592

In [84]:
%%time
shortestPathToMTC(31557)

Wall time: 1.08 s

                               pages.title  pages.id  ID(pages)
0           The_Good,_the_Bad_and_the_Ugly     31557      61550
1  Wikipedia_articles_with_GND_identifiers  38547977    6639522
2                                      Law  18949668    2369701
3                                      Law    691928    5214980
4               Main_topic_classifications   7345184    5614592

In [ ]:
# MATCH path=shortestPath((station_44:STATION {id:44})-[*0..10]-(station_46:STATION {id:46}))
# RETURN path

In [98]:
categoryByTitle('Articles')

  categories.title  categories.id  ID(categories)
0         Articles       14104879         5721289

In [83]:
articleByTitle('The_Good,_the_Bad_and_the_Ugly')

                   articles.title  articles.id  ID(articles)
0  The_Good,_the_Bad_and_the_Ugly        31557         61550

In [38]:
getWithNeoID(2012406)

(_2012406:Page {id: 14616326, isNew: false, isRedirect: false, title: 'Politics_in_Futurama'})

In [106]:
childPages(36)

Empty DataFrame
Columns: []
Index: []

In [105]:
%%time
parentCategories(36)

Wall time: 23.9 ms

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%time
childPages(693995)

In [104]:
%%time
# Return Category with specific title only if is a category

CategoryToFind = 'Contents'
commandToRun = 'MATCH (categories:Category:Page {title: "%s"}) \
                RETURN categories.title, categories.id, ID(categories)' % (CategoryToFind)
namedCategory = graph.run(commandToRun).to_data_frame()
namedCategory

Wall time: 19.5 ms

  categories.title  categories.id  ID(categories)
0         Contents       14105005         5721293

In [ ]:
set(parentCats["pages.id"])

In [ ]:
# Perform similarity calculation on each parent

In [ ]:
# Select highest similarity

# Test stuff -->

In [ ]:
# Clean unwatnted nodes
# Return nodes with title containing unwanted strings
# Create graph excluding these

In [ ]:
“by_year”, “of_the_year”, “List_of”, or “_in_”
'Wikipedia_'

In [ ]:
MATCH (n:Person)
WHERE n.name = 'Peter' XOR (n.age < 30 AND n.name = 'Timothy') OR NOT (n.name = 'Timothy' OR n.name = 'Peter')
RETURN n.name, n.age

In [33]:
%%time
commandToRun = "MATCH (pages:Category:Page) \
                WHERE \
                pages.title STARTS WITH 'Wikipedia_' \
                OR pages.title STARTS WITH '1' \
                OR pages.title STARTS WITH '2' \
                OR pages.title STARTS WITH '3' \
                OR pages.title STARTS WITH '4' \
                OR pages.title STARTS WITH '5' \
                OR pages.title STARTS WITH '6' \
                OR pages.title STARTS WITH '7' \
                OR pages.title STARTS WITH '8' \
                OR pages.title STARTS WITH '9' \
                OR pages.title STARTS WITH '0' \
                OR pages.title STARTS WITH 'List_of' \
                OR pages.title CONTAINS 'by_year' \
                OR pages.title CONTAINS 'of_the_year' \
                OR pages.title CONTAINS '_in_' \
                RETURN pages.title, pages.id \
                "
nonWanted = graph.run(commandToRun).to_data_frame()

Wall time: 14.5 s

In [37]:
#nonWanted.loc[nonWanted["pages.title"] == "Wikipedia_articles_with_GND_identifiers", :]
nonWanted[500000:500150]

,pages.title,pages.id
500000,New_Zealand_cricket_in_the_19th_century,8482806
500001,New_Zealand_cricket_in_the_20th_century,8437038
500002,New_Zealand_cricket_in_the_21st_century,8407217
500003,New_Zealand_diaspora_in_Asia,48218395
500004,New_Zealand_diaspora_in_Malaysia,48218373
500005,New_Zealand_expatriate_basketball_people_in_Serbia,56292076
500006,New_Zealand_expatriate_basketball_people_in_the_United_States,25275220
500007,New_Zealand_expatriate_sportspeople_in_Australia,20927926
500008,New_Zealand_expatriate_sportspeople_in_the_United_Kingdom,20986927
500009,New_Zealand_expatriates_in_Afghanistan,56128466
500010,New_Zealand_expatriates_in_American_Samoa,52361111
500011,New_Zealand_expatriates_in_Australia,20435232
500012,New_Zealand_expatriates_in_Bangladesh,52438185
500013,New_Zealand_expatriates_in_Belgium,36133190
500014,New_Zealand_expatriates_in_Canada,21053718
500015,New_Zealand_expatriates_in_China,33019844
500016,New_Zealand_expatriates_in_Croatia,39015506
500017,New_Zealand_expatriates_in_Denmark,38995830
500018,New_Zealand_expatriates_in_East_Timor,38713912
500019,New_Zealand_expatriates_in_England,46969244
500020,New_Zealand_expatriates_in_Fiji,36320842
500021,New_Zealand_expatriates_in_France,26723899
500022,New_Zealand_expatriates_in_Germany,27382630
500023,New_Zealand_expatriates_in_Greece,31933169
500024,New_Zealand_expatriates_in_Haiti,46405290
500025,New_Zealand_expatriates_in_Hong_Kong,33019888
500026,New_Zealand_expatriates_in_Hungary,31933172
500027,New_Zealand_expatriates_in_Iceland,38995822
500028,New_Zealand_expatriates_in_India,34813436
500029,New_Zealand_expatriates_in_Indonesia,38713923
500030,New_Zealand_expatriates_in_Iran,38713715
500031,New_Zealand_expatriates_in_Ireland,37244856
500032,New_Zealand_expatriates_in_Italy,38997405
500033,New_Zealand_expatriates_in_Japan,39005356
500034,New_Zealand_expatriates_in_Kiribati,36320847
500035,New_Zealand_expatriates_in_Malaysia,36133405
500036,New_Zealand_expatriates_in_Monaco,29415006
500037,New_Zealand_expatriates_in_Nauru,38303384
500038,New_Zealand_expatriates_in_Nigeria,39015481
500039,New_Zealand_expatriates_in_Norway,31933163
500040,New_Zealand_expatriates_in_Pakistan,33385423
500041,New_Zealand_expatriates_in_Papua_New_Guinea,38890323
500042,New_Zealand_expatriates_in_Peru,53183821
500043,New_Zealand_expatriates_in_Poland,30139219
500044,New_Zealand_expatriates_in_Romania,37252283
500045,New_Zealand_expatriates_in_Samoa,36320858
500046,New_Zealand_expatriates_in_Singapore,36133415
500047,New_Zealand_expatriates_in_South_Africa,39016147
500048,New_Zealand_expatriates_in_Spain,47781465
500049,New_Zealand_expatriates_in_Sri_Lanka,39068007
500050,New_Zealand_expatriates_in_Sweden,47085082
500051,New_Zealand_expatriates_in_Switzerland,38702353
500052,New_Zealand_expatriates_in_Thailand,49263048
500053,New_Zealand_expatriates_in_Tonga,36320870
500054,New_Zealand_expatriates_in_Turkey,38713705
500055,New_Zealand_expatriates_in_Tuvalu,38303395
500056,New_Zealand_expatriates_in_Vanuatu,38633264
500057,New_Zealand_expatriates_in_the_Netherlands,31933161
500058,New_Zealand_expatriates_in_the_Philippines,42216609
500059,New_Zealand_expatriates_in_the_Solomon_Islands,38568043
500060,New_Zealand_expatriates_in_the_United_Arab_Emirates,39067945
500061,New_Zealand_expatriates_in_the_United_Kingdom,6804869
500062,New_Zealand_expatriates_in_the_United_States,20843578
500063,New_Zealand_in_World_War_I,30501362
500064,New_Zealand_in_World_War_II,31378825
500065,New_Zealand_in_fiction,28868163
500066,New_Zealand_in_fiction_by_city,44349680
500067,New_Zealand_in_international_cricket,8454898
500068,New_Zealand_military_personnel_killed_in_World_War_I,14200046
500069,New_Zealand_military_personnel_killed_in_World_War_II,14200170
500070,New_Zealand_military_personnel_killed_in_action,8046523
500071,New_Zealand_military_personnel_of_the_War_in_Afghanistan_(2001–2014),56464838
500072,New_Zealand_military_personnel_of_the_War_in_Afghanistan_(2001–present),24355774
500073,New_Zealand_people_in_arts_occupations,49980978
500074,New_Zealand_people_in_health_professions,49974530
500075,New_Zealand_people_in_rail_transport,22944543
500076,New_Zealand_people_in_sports,57572735
500077,New_Zealand_people_in_the_video_game_industry,52947074
500078,New_Zealand_people_who_died_in_prison_custody,19809705
500079,New_Zealand_prisoners_of_war_in_World_War_I,57670140
500080,New_Zealand_prisoners_of_war_in_World_War_II,57670135
500081,New_Zealand_sportspeople_in_doping_cases,6441315
500082,New_Zealand_women_in_World_War_I,30824439
500083,New_Zealand_women_in_politics,18404793
500084,New_religious_movements_in_popular_culture,14480761
500085,New_restoration_sects_in_the_Latter_Day_Saint_movement,27823490
500086,New_towns_in_Egypt,31558159
500087,New_towns_in_England,32188706
500088,New_towns_in_France,49169389
500089,New_towns_in_Hong_Kong,1284977
500090,New_towns_in_Ireland,8601268
500091,New_towns_in_Japan,32301780
500092,New_towns_in_Scotland,32188748
500093,New_towns_in_Singapore,1753135
500094,New_towns_in_South_Korea,32215653
500095,New_towns_in_the_United_Kingdom,8601201
500096,New_towns_in_Île-de-France,49169383
500097,"Newark,_New_Jersey_in_fiction",43791303
500098,Newcastle_upon_Tyne_in_fiction,32143768
500099,Newfoundland_and_Labrador_in_fiction,19638511
500100,Newfoundland_in_World_War_I,30501372
500101,Newfoundland_in_World_War_II,57735738
500102,News/talk_radio_stations_in_the_United_States,32671322
500103,News_agencies_based_in_Abkhazia,57812174
500104,News_agencies_based_in_Afghanistan,57812472
500105,News_agencies_based_in_Albania,57812281
500106,News_agencies_based_in_Algeria,57812289
500107,News_agencies_based_in_Argentina,57815451
500108,News_agencies_based_in_Armenia,57812343
500109,News_agencies_based_in_Australia,47257075
500110,News_agencies_based_in_Austria,57812388
500111,News_agencies_based_in_Azerbaijan,38478114
500112,News_agencies_based_in_Bahrain,57817498
500113,News_agencies_based_in_Bangladesh,57812507
500114,News_agencies_based_in_Barbados,57812669
500115,News_agencies_based_in_Belarus,51048461
500116,News_agencies_based_in_Belgium,57812574
500117,News_agencies_based_in_Bolivia,57812205
500118,News_agencies_based_in_Bosnia_and_Herzegovina,57812688
500119,News_agencies_based_in_Brazil,37102689
500120,News_agencies_based_in_Bulgaria,57812662
500121,News_agencies_based_in_Cambodia,57812196
500122,News_agencies_based_in_Canada,31780769
500123,News_agencies_based_in_Cape_Verde,57813199
500124,News_agencies_based_in_China,54227370
500125,News_agencies_based_in_Croatia,57812728
500126,News_agencies_based_in_Cuba,57815204
500127,News_agencies_based_in_Cyprus,56199961
500128,News_agencies_based_in_Denmark,57815250
500129,News_agencies_based_in_East_Timor,57815500
500130,News_agencies_based_in_Egypt,57817520
500131,News_agencies_based_in_Estonia,57812497
500132,News_agencies_based_in_Ethiopia,57813023
500133,News_agencies_based_in_Fiji,57815152
500134,News_agencies_based_in_Finland,57813053
500135,News_agencies_based_in_France,40276403
500136,News_agencies_based_in_French_Polynesia,57815422
500137,News_agencies_based_in_Georgia_(country),57813067
500138,News_agencies_based_in_Germany,47257093
500139,News_agencies_based_in_Ghana,35172240
500140,News_agencies_based_in_Greece,57812368
500141,News_agencies_based_in_Hong_Kong,51366155
500142,News_agencies_based_in_Hungary,57813368
500143,News_agencies_based_in_India,31780770
500144,News_agencies_based_in_Indonesia,57812327
500145,News_agencies_based_in_Iran,31780773
500146,News_agencies_based_in_Iraq,57815068
500147,News_agencies_based_in_Ireland,57813106
500148,News_agencies_based_in_Israel,50987726
500149,News_agencies_based_in_Italy,17567289

In [17]:
# len "STARTS WITH 'Wikipedia_'" = 28776
nonWanted

                                  pages.title  pages.id
0      Wikipedia_1.0_Arts_articles_by_quality   6024513
1                   Wikipedia_1.0_assessments   4887735
2              Wikipedia_1.0_historical_pages  28286276
3                                Wikipedia_10  38308958
4                                Wikipedia_15  48576743
...                                       ...       ...
28771                Wikipedia_warning_essays  42046692
28772                         Wikipedia_women  57968295
28773                     Wikipedia_workpages  11376362
28774           Wikipedia_workshops_in_Mumbai  40149560
28775                         Wikipedia_years   3022307

[28776 rows x 2 columns]

In [ ]:
%%time
booksC = graph.run('MATCH (pages:Category:Page)-[:BELONGS_TO]->(:Page {title: "Books"}) RETURN pages.title, pages.id').to_data_frame()

In [ ]:
%%time
booksAll = graph.run('MATCH (pages:Page)-[:BELONGS_TO]->(:Page {title: "Books"}) RETURN pages.title, pages.id').to_data_frame()

In [ ]:
%%time
# Returns articles belonging to category "Books"
booksArt = graph.run('MATCH (pages:Page)-[:BELONGS_TO]->(:Page {title: "Books"}) WHERE NONE(page IN [pages] WHERE page:Category) RETURN pages.title, pages.id').to_data_frame()

In [ ]:
%%time
booksAll2 = graph.run('MATCH (pages:Page)<-[:BELONGS_TO]-(:Page {title: "Jacob_Abbot_Cummings"}) RETURN pages').to_data_frame()

In [ ]:
print(len(booksC))
print(len(booksArt))
print(len(booksAll))

In [ ]:
booksAll2

## Step 1
##### Take article title as input and return dataframe with identifying information

In [9]:
%%time
# Return page with specific title only if is not category
# Without WHERE clause, will return both article and category of same name if it exists

ArticleToFind = 'Cat'
commandToRun = 'MATCH (articles:Page {title: "%s"}) \
                WHERE NONE(art IN [articles] WHERE art:Category) \
                RETURN articles.title, articles.id, ID(articles)' % (ArticleToFind)
namedArticle = graph.run(commandToRun).to_data_frame()
namedArticle

Wall time: 87.2 ms

  articles.title  articles.id  ID(articles)
0            Cat         6678          7953

In [ ]:
# Approach 2 - NOT NECESSARY

In [107]:
matcher = NodeMatcher(graph)

In [ ]:
ArtWikiID = namedArticle["ID(articles)"][0]

In [ ]:
len(graph.match((matcher.get(ArtWikiID), None ), "BELONGS_TO"))

In [ ]:
list(graph.match((matcher.get(ArtWikiID), None ), "BELONGS_TO"))

In [111]:
matcher.get(12)

(_12:Page {id: 332, isNew: false, isRedirect: false, title: 'Animalia_(book)'})