In [14]:
# Continue from here:
# https://tbgraph.wordpress.com/2020/03/09/exploring-the-graph-catalog-feature-of-neo4j-graph-data-science-plugin-on-a-lord-of-the-rings-dataset/

In [15]:
from py2neo import *
import pandas as pd

In [16]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [17]:
graph = Graph()

In [18]:
# Projecting entire graph into memory (~8GB)

In [19]:
# NOTE: neo4j memory configuration change to below values in:
# "F:\neo4j-data\neo4jDatabases\database-355f6508-a0f2-4632-9ac2-65096a4d3673\installation-3.5.19\conf\neo4j.conf"

# dbms.memory.heap.initial_size=6G
# dbms.memory.heap.max_size=8G

# dbms.memory.pagecache.size=2G

In [20]:
%%time

# GDS library needs to be installed:
# https://neo4j.com/docs/graph-data-science/current/installation/

# NOTE!!! Set to limit projection to Category nodes only!

commandToRun = "CALL gds.graph.create('allCatsNat_graph','Category', 'BELONGS_TO')"
graph.run(commandToRun)

Wall time: 22.6 s

In [21]:
%%time
commandToRun = "CALL gds.wcc.stream('allCatsNat_graph') YIELD nodeId, componentId \
                RETURN componentId, count(*) as size \
                ORDER BY size DESC LIMIT 10"
pd.DataFrame(graph.run(commandToRun).data())

Wall time: 3.08 s

   componentId     size
0            0  1725985
1      1476786        2
2      1483807        2
3      1509634        2
4      1410783        2
5       589909        2
6      1725295        2
7      1496728        1
8      1496978        1
9      1496959        1

In [22]:
%%time
commandToRun = "CALL gds.wcc.stream('allCatsNat_graph') YIELD nodeId, componentId \
                RETURN componentId, count(*) as size \
                ORDER BY size DESC"
pd.DataFrame(graph.run(commandToRun).data())

Wall time: 1.12 s

    componentId     size
0             0  1725985
1        589909        2
2       1410783        2
3       1476786        2
4       1483807        2
5       1509634        2
6       1725295        2
7       1490052        1
8       1496728        1
9       1496831        1
10      1496959        1
11      1496978        1
12      1501017        1
13      1501074        1
14      1501319        1

In [23]:
%%time
commandToRun = "CALL gds.graph.list()"
pd.DataFrame(graph.run(commandToRun).data())

Wall time: 103 ms

,graphName,nodeProjection,relationshipProjection,nodeQuery,relationshipQuery,nodeCount,relationshipCount,degreeDistribution,creationTime,modificationTime
0,whole_graph,"{'Category': {'properties': {}, 'label': 'Category'}}","{'BELONGS_TO': {'orientation': 'NATURAL', 'aggregation': 'DEFAULT', 'type': 'BELONGS_TO', 'properties': {}}}",None,None,1726005,4857626,"{'p99': 7, 'min': 0, 'max': 101, 'mean': 2.8143753928870425, 'p90': 4, 'p50': 3, 'p999': 12, 'p95': 5, 'p75': 4}",2020-07-22T10:05:32.079000000,2020-07-22T10:05:54.672000000

In [24]:
%%time
commandToRun = "CALL gds.graph.drop('allCatsNat_graph')"
graph.run(commandToRun)

Wall time: 102 ms