In [1]:
# 1. Count of unique nodes in (sub)graph
# 2. Drop non-helpful categories
# 3. Performance of most similar analyses, breadth first. Stop iteration once sufficient coverage reached.

In [4]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [ ]:
'''

- Know count of (unique) articles (not :Category)
- Drop unwanted categories
- Know count of (unique) articles (not :Category)
- Iterate following:
    - Calculate main path of next level categories
    - Know count of (unique) articles in graph with selected Category nodes

OUTPUT: DataFrame with Category (wikipedia-id, db-id, title) and data: closest parent; path to mtc
'''

In [3]:
from py2neo import *
import pandas as pd

In [2]:
graph = Graph()

In [ ]:
%%time
results = graph.run('MATCH (pages:Page)-[BELONGS_TO]-(:Page {title: "Main_topic_classifications"}) RETURN pages.title')
results.data()

In [15]:
%%time
results = graph.run('MATCH (pages:Page)-[BELONGS_TO]->(:Page {title: "Main_topic_classifications"}) RETURN pages')
results.data()

Wall time: 47.8 ms

[{'pages': (_5215236:Category:Page {id: 693555, isNew: false, isRedirect: false, title: 'History'})},
 {'pages': (_5846218:Category:Page {id: 3260154, isNew: false, isRedirect: false, title: 'World'})},
 {'pages': (_5481373:Category:Page {id: 722196, isNew: false, isRedirect: false, title: 'Reference'})},
 {'pages': (_5214868:Category:Page {id: 691008, isNew: false, isRedirect: false, title: 'People'})},
 {'pages': (_5214980:Category:Page {id: 691928, isNew: false, isRedirect: false, title: 'Law'})},
 {'pages': (_5215112:Category:Page {id: 692694, isNew: false, isRedirect: false, title: 'Religion'})},
 {'pages': (_5477686:Category:Page {id: 696763, isNew: false, isRedirect: false, title: 'Education'})},
 {'pages': (_5214957:Category:Page {id: 691810, isNew: false, isRedirect: false, title: 'Philosophy'})},
 {'pages': (_5477550:Category:Page {id: 695027, isNew: false, isRedirect: false, title: 'Politics'})},
 {'pages': (_6891227:Category:Page {id: 47642171, isNew: false, isRedirect: false, title: 'Science_and_technology'})},
 {'pages': (_5215270:Category:Page {id: 693708, isNew: false, isRedirect: false, title: 'Sports'})},
 {'pages': (_5553392:Category:Page {id: 8017451, isNew: false, isRedirect: false, title: 'Language'})},
 {'pages': (_5477677:Category:Page {id: 696603, isNew: false, isRedirect: false, title: 'Nature'})},
 {'pages': (_5215293:Category:Page {id: 693800, isNew: false, isRedirect: false, title: 'Geography'})},
 {'pages': (_6005459:Category:Page {id: 4892515, isNew: false, isRedirect: false, title: 'Arts'})},
 {'pages': (_5655142:Category:Page {id: 1633936, isNew: false, isRedirect: false, title: 'Society'})},
 {'pages': (_5477505:Category:Page {id: 694861, isNew: false, isRedirect: false, title: 'Culture'})},
 {'pages': (_5486916:Category:Page {id: 751381, isNew: false, isRedirect: false, title: 'Health'})},
 {'pages': (_5214862:Category:Page {id: 690747, isNew: false, isRedirect: false, title: 'Mathematics'})},
 {'pages': (_6955773:Category:Page {id: 48005914, isNew: false, isRedirect: false, title: 'Universe'})},
 {'pages': (_5776487:Category:Page {id: 2766046, isNew: false, isRedirect: false, title: 'Events'})},
 {'pages': (_5540187:Category:Page {id: 1004110, isNew: false, isRedirect: false, title: 'Humanities'})},
 {'pages': (_5744085:Category:Page {id: 2389032, isNew: false, isRedirect: false, title: 'Life'})},
 {'pages': (_5804052:Category:Page {id: 10348282, isNew: false, isRedirect: false, title: 'Uncategorized_pages'})},
 {'pages': (_5544421:Category:Page {id: 1009209, isNew: false, isRedirect: false, title: 'Information'})},
 {'pages': (_5721289:Category:Page {id: 14104879, isNew: false, isRedirect: false, title: 'Articles'})}]

In [ ]:
%%time
results = graph.run('MATCH (pages:Category:Page)-[BELONGS_TO]->(:Page {title: "Humanities"}) RETURN pages')
results.data()

In [ ]:
%%time
results = graph.run('MATCH (pages:Category:Page)<-[BELONGS_TO]-(:Page {title: "Books"}) RETURN pages.title')
results.data()

In [6]:
%%time
# All category nodes to list with title and id, wall time: 1min 52s, len = 1 726 005
allCats = [(a["title"], a["id"]) for a in graph.nodes.match("Category")]

Wall time: 1min 55s

In [ ]:
len(allCats)

In [13]:
allCats[100:130]

[('Ethics', 691802),
 ('Abuse', 691808),
 ('Philosophy', 691810),
 ('Humorists', 691811),
 ('Emotion', 691820),
 ('Paul_McCartney', 691823),
 ('John_Lennon', 691827),
 ('Pearl_Jam', 691842),
 ('Soundgarden', 691846),
 ('Polish_monarchs', 691859),
 ('Poland', 691860),
 ('Functional_analysis', 691866),
 ('Weapons_of_mass_destruction', 691868),
 ("Thirty_Years\\'_War", 691871),
 ('Mathematical_analysis', 691875),
 ('War', 691877),
 ('Christianity', 691886),
 ('Combinatorics', 691896),
 ('Graph_theory', 691898),
 ('Operator_theory', 691908),
 ('Complex_analysis', 691914),
 ('Topology', 691921),
 ('Mercian_monarchs', 691922),
 ('Hentai', 691924),
 ('Civics', 691926),
 ('Law', 691928),
 ('Danish_monarchs', 691937),
 ('Theoretical_physics', 691938),
 ('World_music', 691940),
 ('Kalmar_Union', 691941)]

In [ ]:
%%time
# All category nodes to list with title and id, wall time: 1min 52s, len = 1 726 005
fiveCats = graph.nodes.match("Category").limit(5).to_data_frame()

In [ ]:
books = graph.run('MATCH (pages:Category:Page)<-[BELONGS_TO]-(:Page {title: "Books"}) RETURN pages.title, pages.id').to_data_frame()
books

In [24]:
%%time
allCatsDF = graph.run('MATCH (pages:Category:Page) RETURN pages.title, ID(pages)').to_data_frame()
allCatsDF

Wall time: 26.7 s

                                   pages.title  ID(pages)
0                                     Futurama    5214855
1                                 World_War_II    5214856
2                        Programming_languages    5214857
3                       Professional_wrestling    5214858
4                                      Algebra    5214859
...                                        ...        ...
1726000  Heydar_Ghiai_buildings_and_structures    7418639
1726001          Canadian_scientific_societies    7418640
1726002     Redirects_with_draftspace_articles    7418641
1726003                       People_from_Vapi    7418642
1726004        Australian_scientific_societies    7418643

[1726005 rows x 2 columns]

In [25]:
First100 = allCatsDF.iloc[:100, :]
First100

                pages.title  ID(pages)
0                  Futurama    5214855
1              World_War_II    5214856
2     Programming_languages    5214857
3    Professional_wrestling    5214858
4                   Algebra    5214859
..                      ...        ...
95  Sustainable_agriculture    5214950
96           Sustainability    5214951
97                  Pokémon    5214952
98                War_films    5214953
99                  Writers    5214954

[100 rows x 2 columns]

In [31]:
First100["belongsToCount"] = None

<ipython-input-31-a6273a20028b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  First100["belongsToCount"] = None

In [3]:
matcher = NodeMatcher(graph)

In [16]:
%%time
# (_7319681:Category:Page {id: 52141708, isNew: false, isRedirect: false, title: 'Humanities_conferences'})

# Returns count of nodes that belong to node with ID used in get function

len(graph.match((None, matcher.get(5215236)), "BELONGS_TO"))

Wall time: 2.99 ms

46

In [33]:
%%time
# Try this to get count of BELONGS_TO for each row
# Needs ID
# count = len(graph.match((None, a), "CREATED"))

First100["belongsToCount"] = First100["ID(pages)"].apply(lambda x: len(graph.match((None, matcher.get(x)), "BELONGS_TO")))

Wall time: 188 ms

<timed exec>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
graph.match((None, matcher.get(5215236)), "BELONGS_TO").first()

(_5509557)-[:BELONGS_TO {}]->(_5215236)

In [34]:
First100

                pages.title  ID(pages)  belongsToCount
0                  Futurama    5214855              17
1              World_War_II    5214856             114
2     Programming_languages    5214857             190
3    Professional_wrestling    5214858              34
4                   Algebra    5214859             151
..                      ...        ...             ...
95  Sustainable_agriculture    5214950             175
96           Sustainability    5214951              58
97                  Pokémon    5214952              43
98                War_films    5214953              45
99                  Writers    5214954              47

[100 rows x 3 columns]

In [35]:
First100k = allCatsDF.iloc[:100000, :]

In [36]:
%%time
First100k["belongsToCount"] = First100k["ID(pages)"].apply(lambda x: len(graph.match((None, matcher.get(x)), "BELONGS_TO")))

Wall time: 11min 34s

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
First100k

,pages.title,ID(pages),belongsToCount
0,Futurama,5214855,17
1,World_War_II,5214856,114
2,Programming_languages,5214857,190
3,Professional_wrestling,5214858,34
4,Algebra,5214859,151
...,...,...,...
99995,Unassessed_Professional_sound_production_articles,5687177,0
99996,National_Basketball_Association_templates,5687178,10
99997,Start-Class_Professional_sound_production_arti...,5687179,0
99998,Digestive_system_stubs,5687180,58
99999,Mosques_in_Johor,5687181,15

In [38]:
First1000 = allCatsDF.iloc[:1000, :]

In [40]:
First10k = allCatsDF.iloc[:10000, :]

In [41]:
%%time
First1000["belongsToCount"] = First1000["ID(pages)"].apply(lambda x: len(graph.match((None, matcher.get(x)), "BELONGS_TO")))

Wall time: 7.6 s

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
%%time
First10k["belongsToCount"] = First10k["ID(pages)"].apply(lambda x: len(graph.match((None, matcher.get(x)), "BELONGS_TO")))

Wall time: 1min 9s

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# First10k["belongsToCount"] = First10k["ID(pages)"].apply(lambda x: len(graph.match((None, matcher.get(x)), "BELONGS_TO")))
# Time is linear with count of x, ~0,007s per row

In [43]:
len(allCatsDF)

1726005

In [44]:
allCatsDF.iloc[:100, :]

                pages.title  ID(pages)
0                  Futurama    5214855
1              World_War_II    5214856
2     Programming_languages    5214857
3    Professional_wrestling    5214858
4                   Algebra    5214859
..                      ...        ...
95  Sustainable_agriculture    5214950
96           Sustainability    5214951
97                  Pokémon    5214952
98                War_films    5214953
99                  Writers    5214954

[100 rows x 2 columns]

In [50]:
First100k.sort_values(by=["belongsToCount"], ascending = False).head(100)

,pages.title,ID(pages),belongsToCount
40123,All_articles_lacking_sources,5564515,196544
85268,All_articles_to_be_expanded,5652248,128179
47468,All_orphaned_articles,5578958,123468
20054,Surnames,5514656,50878
33197,American_films,5548547,46921
13169,All_pages_needing_cleanup,5502857,35981
178,Albums_by_artist,5215033,21434
25547,Indian_films,5528339,20507
7201,English_footballers,5484877,19552
30371,1988_births,5540261,15834
30369,1986_births,5540259,15817
30370,1987_births,5540260,15729
31464,1989_births,5544084,15725
30368,1985_births,5540258,15711
31465,1990_births,5544085,15673
13865,Stub_categories,5504099,15168
30367,1984_births,5540257,15145
28292,1983_births,5535452,14820
30366,1982_births,5540256,14751
30365,1981_births,5540255,14431
31466,1991_births,5544086,14336
30364,1980_births,5540254,14181
31467,1992_births,5544087,13606
28260,Underpopulated_categories,5535420,13517
30363,1979_births,5540253,13515
84458,Lists_of_coordinates,5651438,13233
28286,1978_births,5535446,12795
30360,1970_births,5540250,12772
31468,1993_births,5544088,12763
20061,Given_names,5514663,12761
30040,1977_births,5539930,12568
28280,1971_births,5535440,12524
28283,1976_births,5535443,12431
30356,1964_births,5540246,12419
30344,1947_births,5540234,12401
30359,1969_births,5540249,12387
30361,1972_births,5540251,12317
28287,1975_births,5535447,12265
2393,English_cricketers,5477885,12259
30362,1974_births,5540252,12146
28279,1973_births,5535439,12076
20196,1960_births,5514798,12010
30354,1962_births,5540244,11963
30355,1963_births,5540245,11940
28285,1968_births,5535445,11894
20203,1948_births,5514805,11841
28281,1965_births,5535441,11809
30347,1952_births,5540237,11809
30352,1959_births,5540242,11792
30348,1954_births,5540238,11766
30353,1961_births,5540243,11752
30350,1956_births,5540240,11750
30343,1946_births,5540233,11693
30349,1955_births,5540239,11665
30358,1967_births,5540248,11659
30351,1958_births,5540241,11632
31469,1994_births,5544089,11610
28284,1950_births,5535444,11598
43230,Wikipedia_articles_incorporating_text_from_the_1911_Encyclopædia_Britannica,5571444,11589
20199,1957_births,5514801,11575
28289,1953_births,5535449,11516
30345,1949_births,5540235,11472
30346,1951_births,5540236,11470
30357,1966_births,5540247,11400
28288,1943_births,5535448,10434
30341,1944_births,5540231,10384
30342,1945_births,5540232,10211
30340,1942_births,5540230,9991
41007,British_films,5565399,9903
31470,1995_births,5544090,9674
30339,1941_births,5540229,9217
20204,1940_births,5514806,9192
22690,Wikipedia_articles_incorporating_text_from_the_Dictionary_of_American_Naval_Fighting_Ships,5520568,8913
30338,1939_births,5540228,8723
28291,1938_births,5535451,8614
33212,Windows_games,5548562,8515
7246,Russian_footballers,5484922,8271
31471,1996_births,5544091,8190
30337,1937_births,5540227,8172
30331,1930_births,5540221,8115
28290,1936_births,5535450,8038
30329,1928_births,5540219,7839
30334,1934_births,5540224,7770
30336,1935_births,5540226,7767
30332,1931_births,5540222,7692
30330,1929_births,5540220,7691
30328,1927_births,5540218,7677
30333,1932_births,5540223,7616
192,Songs_by_artist,5215047,7613
30327,1926_births,5540217,7539
30325,1924_births,5540215,7417
28282,1933_births,5535442,7404
30326,1925_births,5540216,7304
30322,1921_births,5540212,7233
30324,1923_births,5540214,7209
27585,2007_deaths,5533107,7205
30321,1920_births,5540211,7157
13598,Films_by_director,5503832,7097
30323,1922_births,5540213,7044
7206,Scottish_footballers,5484882,6861

In [51]:
len(First100k.loc[First100k["belongsToCount"] == 0])

8530

In [53]:
First100k.loc[First100k["belongsToCount"] == 0].head(40)

,pages.title,ID(pages),belongsToCount
23,Middle-earth_places,5214878,0
200,Smashing_Pumpkins_albums,5215055,0
238,Vocalists,5215093,0
255,Homosexuality,5215110,0
265,Chubu_region,5215120,0
266,Kanto_region,5215121,0
268,Tohoku_region,5215123,0
269,Chugoku_region,5215124,0
276,Popular_music_artists,5215131,0
369,Southwest_Asian_countries,5215224,0
407,Computability,5215262,0
559,Wikipedians_with_MA_degrees,5348424,0
568,Start-Class_biography_(core)_articles,5348433,0
592,Miscellaneous_Vancouver_articles,5348457,0
593,WikiProject_Contents_pages,5348458,0
648,WikiProject_Trivia_Cleanup_members,5348513,0
668,Start-Class_Shipwreck_articles,5348533,0
687,Wikipedians_by_alma_mater:_DePaul_University,5348552,0
704,Villages_in_Hungary,5348569,0
715,Bleach_anime_screenshots,5348580,0
726,List-Class_Tolkien_articles,5348591,0
740,Flora_of_Southeastern_Canada,5348605,0
742,People_from_Hannover,5348607,0
751,Universities_in_the_Madrid_Region,5460409,0
772,Wikipedians_who_like_Torchwood,5460430,0
788,Board_game_user_templates,5460446,0
806,Beverage_user_templates,5460464,0
807,Suspected_Wikipedia_sockpuppets_of_BLAKLEYSHOT,5460465,0
810,Lord_of_the_Rings_user_templates,5460468,0
816,Pronoun_user_templates,5460474,0
818,Burbank_Unified_School_System,5460476,0
832,User_rw-1,5460490,0
834,Jennifer_López_songs,5460492,0
835,Jennifer_López_albums,5460493,0
838,Ontario_College_of_Art_and_Design_alumni,5460496,0
843,Broadcaster_user_templates,5460501,0
850,Wikipedia_sockpuppets_of_NicAgent,5460508,0
854,Suspected_Wikipedia_sockpuppets_of_Cardriver,5460512,0
856,Wikipedians_by_alma_mater:_Baylor_University,5460514,0
859,Suspected_Wikipedia_sockpuppets_of_Tobias_Conradi,5460517,0

In [59]:
allCatsDF.loc[allCatsDF["pages.title"] == "Finnish_film_directors"]

                   pages.title  ID(pages)
113679  Finnish_film_directors    5715057

In [60]:
len(graph.match((None, matcher.get(5715057)), "BELONGS_TO"))

116

In [62]:
%%time
First100["Parents"] = First100["ID(pages)"].apply(lambda x: len(graph.match((matcher.get(x), None), "BELONGS_TO")))

Wall time: 2.41 s

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
First100

                    pages.title  ID(pages)  belongsToCount  Parents
0                      Futurama    5214855              17       22
1                  World_War_II    5214856             114       14
2         Programming_languages    5214857             190        4
3        Professional_wrestling    5214858              34        3
4                       Algebra    5214859             151        1
5                         Anime    5214860              28       10
6              Abstract_algebra    5214861             156        2
7                   Mathematics    5214862              31        5
8                Linear_algebra    5214863             299        1
9                      Calculus    5214864              59        2
10                     Monarchs    5214865              37        5
11             British_monarchs    5214866              13        6
12                    Star_Trek    5214867              36       10
13                       People    5214868              36        3
14                        Popes    5214869             296       19
15                     Desserts    5214870             108        1
16                        Fruit    5214871              17        2
17                        Lists    5214872              34        3
18             Computer_science    5214873              61        5
19                 The_Simpsons    5214874              41       20
20                   Algorithms    5214875             152        7
21              Data_structures    5214876              43        5
22                 Monty_Python    5214877              45        4
23          Middle-earth_places    5214878               0        1
24      Middle-earth_characters    5214879              23        6
25                 Middle-earth    5214880              25        7
26                      Science    5214881              50        2
27                    Chemistry    5214882             198        1
28           Middle-earth_Valar    5214883               9        4
29       Middle-earth_languages    5214884              20        4
30           Middle-earth_books    5214885              16        7
31                  Vietnam_War    5214886             171       44
32           Middle-earth_Maiar    5214887              15        5
33           Middle-earth_Elves    5214888              22        4
34                    Countries    5214889              23        5
35        Middle-earth_Rohirrim    5214890              10        2
36             Middle-earth_Men    5214891              27        3
37         Middle-earth_Dwarves    5214892              10        3
38            Chemical_elements    5214893             258        2
39      Harry_Potter_characters    5214894              17       12
40                      Ecology    5214895             357        4
41                 Harry_Potter    5214896              23       17
42                    Babylon_5    5214897              37        8
43              Discworld_books    5214898              63        6
44                    Discworld    5214899              16        7
45            Discworld_peoples    5214900               6        2
46              Discworld_games    5214901               3        2
47                        Games    5214902              22        4
48                         1984    5214903              54        2
49                    Animation    5214904              61        5
50                   Doctor_Who    5214905              28       17
51                     Geometry    5214906             168        3
52   Multi-dimensional_geometry    5214907              44        2
53                        Music    5214908              41        4
54                   Dog_breeds    5214909             469        5
55                    Cetaceans    5214910              33        3
56                        Waste    5214911              69        3
57            Vietnam_War_films    5214912             180       10
58         Star_Trek_characters    5214913              16        5
59                     Swimming    5214914              78        6
60                        Japan    5214915              18        4
61              Japanese_people    5214916              42        6
62          Musical_instruments    5214917              81        3
63                     Cold_War    5214918             172       12
64                Thai_monarchs    5214919              18        4
65         Fictional_characters    5214920              22        6
66                     Software    5214921              54        7
67               Cold_War_films    5214922             228       10
68            Brass_instruments    5214923              97        1
69   Content_management_systems    5214924             194        6
70                 Star_Control    5214925               7        4
71  Star_Trek:_Voyager_episodes    5214926               9        3
72           String_instruments    5214927             195        2
73              Star_Wars_films    5214928              20       34
74                    Star_Wars    5214929              42       24
75                 British_laws    5214930              45        2
76               United_Kingdom    5214931              18       11
77           Regions_of_England    5214932              34        4
78              Greek_mythology    5214933             196       10
79              Roman_mythology    5214934             190        6
80              Norse_mythology    5214935              76        3
81        Spacecraft_propulsion    5214936             121        5
82           Egyptian_mythology    5214937              76        7
83                        Chess    5214938              30        4
84                    Composers    5214939              32        4
85               Computer_chess    5214940              47        4
86                    Mythology    5214941              78        4
87                Chess_players    5214942              19        3
88                  Chess_games    5214943              21        3
89             Swedish_monarchs    5214944              76        5
90                       Sweden    5214945              19       12
91           Norwegian_monarchs    5214946              80        7
92                       Norway    5214947              19        7
93        Science_fiction_films    5214948              50        4
94                  The_Beatles    5214949              55        6
95      Sustainable_agriculture    5214950             175        6
96               Sustainability    5214951              58        1
97                      Pokémon    5214952              43       10
98                    War_films    5214953              45        5
99                      Writers    5214954              47        5

In [ ]:
# List of all categories
# Drop categories with name containg "by_year”, “of_the_year”, “List_of”, or “_in_” OR starting with number OR containing "All_", "Stub_"
# Drop categories that belong to "Wikipedia_soft_redirected_categories" / Or categories with zero children
# Add info of how many child-pages (~4h)

# Add list of categories to handle:
# 1. MTC-1 cleaned children
# 2. MTC-2 children