In [1]:
# 1) Load csv:s
# 2) Check if term in "articles"
# 3) Check if term in "redirects"
# 4) Check if disambiguation page [from Neo4j] --> select first link instead

In [77]:
import pandas as pd
from string import punctuation, digits
import re
import ast

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)

In [4]:
%%time
redirects = pd.read_csv("F:/wikipedia-data/outputs/redirect.csv")

Wall time: 9.8 s

In [5]:
%%time
articles = pd.read_csv("F:/wikipedia-data/outputs/articles.csv")

Wall time: 1min 54s

In [ ]:
articles.dropna(subset = ["title"], inplace = True)
redirects.dropna(subset = ["title"], inplace = True)

In [25]:
articles["titleLower"] = articles["title"].apply(lambda x: x.lower())
redirects["titleLower"] = redirects["title"].apply(lambda x: x.lower())

#### Functions

In [32]:
#Returns wikipedia article formatted for database search, if not found, returns FALSE
def inArticles(a):
    match = articles.loc[articles["titleLower"] == a, :]
    if len(match) > 0:
        return match.iloc[0, 1].replace(" ", "_")
    else:
        return False

In [38]:
#Returns wikipedia article formatted for database search, if not found, returns FALSE
def inRedirects(a):
    match = redirects.loc[redirects["titleLower"] == a, :]
    if len(match) > 0:
        return match.iloc[0, 2].replace(" ", "_")
    else:
        return False

In [95]:
#Get first link from article based on title (DB formatting). Return False if no links exist
def getFirstLink(a):
    #match will be a pandas series of len=1
    match = articles.loc[articles["title"] == a.replace("_", " "), "links"]
    
    if len(match) > 0:
        #Change first series value into list
        asList = ast.literal_eval(match.iloc[0]) 
        return asList[0].replace(" ", "_")
    else:
        return False

In [ ]:
# Call database for category tree and parents of given wikipedia title
def getCategoryInfo(a):
    # kill function if runs to long (>2min ?)
        # https://stackoverflow.com/questions/14920384/stop-code-after-time-period
    
    #result [path to MTC, parents]
    result = []
    
    try:
        # Parent categories
        if #is disambiguous:
            firstLink = getFirstLink(a)
            return getCategoryInfo(firstLink)
        else:
            path = path to MTC
        
        return [path, parents]
    
    except:
        "Database calls responded with error" # This is probably not good

In [ ]:
# Performs search functions from given search term --> Output from wikipedia database
def getWikipediaInfo(a):
    # if search term is in articles
        # Perform database search
        # Return (WikipediaID, Category tree, Parent categories)
    # else if search term is in redirects
        # Perform database search
        # Return (WikipediaID, Category tree, Parent categories)
    # else return FALSE

In [96]:
getFirstLink("Brad_Pitt")

'Once_Upon_a_Time_in_Hollywood'

In [92]:
type(test)

str

In [81]:
res = ast.literal_eval(test.iloc[0])

In [85]:
type(res[0])

str

In [79]:
for item in test:
    print(type(item))

<class 'str'>

In [37]:
inArticles("false")

'False'

In [94]:
inRedirects("usa")

'United_States'

In [ ]:
redirects

In [ ]:
articles.loc[articles["title"] == "Na Klang", :]

In [ ]:
redirects.loc[redirects["title"] == "Brad Pitt", :]

Int64Index([    274,     792,    1538,    2167,    3439,    3731,    4261,
               4440,    5413,    6030,
            ...
            6087202, 6088287, 6089220, 6089525, 6089617, 6090483, 6090933,
            6090968, 6091481, 6092603],
           dtype='int64', length=10496)

In [15]:
dups = articles.loc[ articles["title"].duplicated() == True , :]

In [16]:
articles["isDup"] = False

In [8]:
#dups.groupby("title")["title"].nunique()

title
Hatne          1
Newark F.C.    1
Selle          1
Name: title, dtype: int64

In [19]:
articles.loc[dups.index, "isDup"] = True

In [22]:
articles.dropna(subset = ["title"], inplace = True)

In [23]:
articles.loc[articles["isDup"] == True, :]

,id,title,parentCategories,links,isDup
3986807,37502203,Selle,[],"['Selle (Somme tributary)', 'Pic la Selle', 'La Selle-Guerchaise', 'La Selle-Craonnaise', 'La Selle-en-Luitré', 'La Selle-en-Coglès', 'Željne', 'Erich von Selle', 'Julius Selle-Larsson', 'Lorraine De Selle', 'Thomas Selle', 'Ursula Selle', 'William Christian Sellé', 'Selle Français', 'Selle Royal', 'Selle v. Gibb', 'La Selle thrush', 'Farnese Vini-Selle Italia', 'Selles (disambiguation)']",True
5609567,57510002,Newark F.C.,"['Football clubs in Nottinghamshire', 'Football clubs in England', 'Central Midlands Football League', 'East Midlands Counties Football League', 'Nottinghamshire Senior League', 'Works association football teams in England']","['Newark F.C. (1880s)', 'Newark-on-Trent|Newark', 'Nottinghamshire', 'Central Midlands League', 'East Midlands Counties League', 'Football Association', 'Nottinghamshire Senior League', 'Category:Football clubs in Nottinghamshire', 'Category:Football clubs in England', 'Category:Central Midlands Football League', 'Category:East Midlands Counties Football League', 'Category:Nottinghamshire Senior League', 'Category:Works association football teams in England']",True
5776050,59940591,Hatne,[],"['Hatné', 'Hatne, Ukraine', 'Hatane']",True

In [26]:
dupsLower = articles.loc[ articles["titleLower"].duplicated() == True , :]

In [30]:
articles.loc[articles["titleLower"] == "brad pitt", :]

,id,title,parentCategories,links,isDup,titleLower
23117,44849,Brad Pitt,"['1963 births', 'Living people', '20th-century American male actors', '21st-century American male actors', 'Male actors from Missouri', 'Male actors from Oklahoma', 'American male film actors', 'Film producers from Missouri', 'American male television actors', 'American male voice actors', 'Best Supporting Actor Golden Globe (film) winners', 'Outstanding Performance by a Cast in a Motion Picture Screen Actors Guild Award winners', 'Outstanding Performance by a Male Actor in a Supporting Role Screen Actors Guild Award winners', 'Volpi Cup for Best Actor winners', 'Volpi Cup winners', 'Golden Globe Award-winning producers', 'Primetime Emmy Award winners', 'Producers who won the Best Picture Academy Award', 'Former Baptists', 'People from Shawnee, Oklahoma', 'People from Springfield, Missouri', 'LGBT rights activists from the United States', 'Missouri School of Journalism alumni', 'Film producers from Oklahoma', 'Former atheists and agnostics', 'Best Supporting Actor Academy Award win...","['Once Upon a Time in Hollywood', 'Shawnee, Oklahoma', 'University of Missouri', 'Brad Pitt filmography|Filmography', 'Springfield, Missouri', 'Jennifer Aniston', 'Angelina Jolie', 'Douglas Pitt', 'List of awards and nominations received by Brad Pitt|Full list', 'List of awards and nominations received by Brad Pitt|multiple awards', 'Golden Globe Awards', 'Academy Award', 'Primetime Emmy Award', 'Plan B Entertainment', 'Brad Pitt filmography|gained recognition', 'Thelma & Louise', 'A River Runs Through It (film)|A River Runs Through It', 'Legends of the Fall', 'Interview with the Vampire (film)|Interview with the Vampire', 'Seven (1995 film)|Seven', '12 Monkeys', 'Golden Globe Award for Best Supporting Actor – Motion Picture|Golden Globe Award for Best Supporting Actor', 'Fight Club', ""Ocean's Eleven"", ""Ocean's Twelve"", ""Ocean's Thirteen"", 'Troy (film)|Troy', 'Mr. & Mrs. Smith (2005 film)|Mr. & Mrs. Smith', 'World War Z (film)|World War Z', 'Once Upon a Time in Hollywood', 'Academy...",False,brad pitt

In [48]:
articles.loc[articles["title"] == "Figma", :]

,id,title,parentCategories,links,isDup,titleLower
6092458,64142331,Figma,[],"['Figma (software)', 'Figma (toy)', 'FIGMA']",False,figma

In [43]:
redirects.dropna(subset = ["title"], inplace = True)

In [44]:
redirects["titleLower"] = redirects["title"].apply(lambda x: x.lower())

In [45]:
redirects

,id,title,redirect,titleLower
0,10,AccessibleComputing,Computer accessibility,accessiblecomputing
1,13,AfghanistanHistory,History of Afghanistan,afghanistanhistory
2,14,AfghanistanGeography,Geography of Afghanistan,afghanistangeography
3,15,AfghanistanPeople,Demographics of Afghanistan,afghanistanpeople
4,18,AfghanistanCommunications,Communications in Afghanistan,afghanistancommunications
...,...,...,...,...
9552795,64149099,Dr Najib,Mohammad Najibullah,dr najib
9552796,64149109,"Chainpur, Bihar","Chainpur, Saharsa, Bihar","chainpur, bihar"
9552797,64149117,Draft:UNICEF Meena Media Award,UNICEF Meena Media Award,draft:unicef meena media award
9552798,64149128,East Coast swing,East Coast Swing,east coast swing
9552799,64149142,Draft:Diego Gregori,Diego Gregori,draft:diego gregori